<h1>New Book</h1>

<%= form_with model: Book.new do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
	
  <p>Body</p>
  <%= f.text_area :body %>
	
  <p>
  <%= f.submit 'Create Book' %>
  <p/>
<% end %>
